<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  
  <title>풀다 - 회원가입</title>

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet" type="text/css">
  <link href="https://cdn.jsdelivr.net/npm/quasar@1.12.8/dist/quasar.min.css" rel="stylesheet" type="text/css">

  <!-- Template Main CSS File -->
  <link href="/assets/css/style.css" rel="stylesheet">
  <link href="/assets/css/styles.css" rel="stylesheet">

</head>

<body>
  <div id="loading">
    로딩 중... 
  </div>
  <div id="q-app" style="display: none;">
    <q-layout view="hHh lpR fFf">
      <q-page-container>
        <q-page
          class="flex flex-center"
          style="background-color: #e1dcd9;"
          padding
        >
          <div class="text-center">
            <q-card v-if="!isSucceeded" flat>
              <q-card-section>
                <div class="text-h6">풀다 회원 가입</div>
              </q-card-section>
              <q-card-section>
                <div class="q-pa-sm" style="width: 300px">
                  <div v-if="error" class="text-red" style="margin-bottom: 20px;">
                    {{ error }}
                  </div>
                  <q-form class="q-gutter-sm" @submit="onSubmit">
                    <q-input
                      filled
                      v-model="email"
                      label="이메일"
                      lazy-rules
                      bottom-slots
                      :error="!isEmailValid"
                    >
                      <template v-slot:error>
                        이메일을 입력해주세요.
                      </template>
                    </q-input>
                    <q-input
                      filled
                      v-model="password1"
                      :type="isPwd ? 'password' : 'text'"
                      label="비밀번호"
                      hint="8자 이상. 영문/숫자 조합"
                      lazy-rules
                      bottom-slots
                      :error="!isPassword1Valid"
                    >
                      <template v-slot:append>
                        <q-icon
                          :name="isPwd ? 'visibility_off' : 'visibility'"
                          class="cursor-pointer"
                          @click="isPwd = !isPwd"
                        ></q-icon>
                      </template>
                      <template v-slot:error>
                        {{ password1Error }}
                      </template>
                    </q-input>
                    <q-input
                      filled
                      v-model="password2"
                      :type="isPwd ? 'password' : 'text'"
                      label="비밀번호 확인"
                      lazy-rules
                      bottom-slots
                      :error="!isPassword2Valid"
                    >
                      <template v-slot:error>
                        비밀번호가 일치하지 않습니다.
                      </template>
                    </q-input>
                    <div>
                      이용약관 동의
                    </div>
                    <div class="row justify-center">
                      <q-checkbox v-model="termOfService"></q-checkbox>
                      <div class="flex flex-center">
                        <span>서비스 이용약관 (필수)</span>
                        <span class="q-mx-sm">></span>
                        <a href="https://storage.googleapis.com/poolda-homepage-assets/pdf/term_of_service.pdf" target="_blank">보기</a>
                      </div>
                    </div>
                    <div class="row justify-center">
                      <q-checkbox v-model="privacyPolicy"></q-checkbox>
                      <div class="flex flex-center">
                        <span>개인정보처리방침 (필수)</span>
                        <span class="q-mx-sm">></span>
                        <a href="https://storage.googleapis.com/poolda-homepage-assets/pdf/privacy_policy.pdf" target="_blank">보기</a>
                      </div>
                    </div>
                    <div>
                      <q-btn
                        label="가입하기"
                        type="submit"
                        color="poolda-primary"
                        unelevated
                        :disable="isSignupProgressing"
                      >
                        <div v-if="isSignupProgressing" class="loader"></div>
                      </q-btn>
                    </div>
                  </q-form>
                </div>
              </q-card-section>
            </q-card>
            <q-card v-else flat>
              <q-card-section>
                <div class="text-h6">이메일 인증을 진행해주세요</div>
                <div v-if="error" class="text-red">
                  {{ error }}
                </div>
                <div v-if="msg" class="text-green">
                  {{ msg }}
                </div>
              </q-card-section>
              <q-card-section>
                {{ email }} 로 인증 메일을 전송하였습니다.<br />
                인증을 진행하시면 회원 가입이 완료됩니다. <br />
                인증 메일을 받지 못하셨다면 재전송 버튼을 눌러주세요. <br />
                <q-btn label="재전송" type="submit" color="poolda-primary" @click="onClickResend" unelevated></q-btn>
              </q-card-section>
            </q-card>
          </div>
        </q-page>
      </q-page-container>
    </q-layout>
  </div>

  <!-- Vendor JS Files -->
  <script src="https://cdn.jsdelivr.net/npm/quasar@1.12.8/dist/quasar.ie.polyfills.umd.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@^2.0.0/dist/vue.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/quasar@1.12.8/dist/quasar.umd.min.js"></script>
  <script src="https://www.gstatic.com/firebasejs/6.2.0/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/6.2.0/firebase-auth.js"></script>

  <script type="text/javascript">
    /*
      Example kicking off the UI. Obviously, adapt this to your specific needs.
      Assumes you have a <div id="q-app"></div> in your <body> above
      */
    new Vue({
      el: '#q-app',
      data: function() {
        return {
          email: "",
          password1: "",
          password1Error: "",
          password2: "",
          isSignupProgressing: false,
          isPwd: true,
          isSucceeded: false,
          user: null,
          termOfService: false,
          privacyPolicy: false,
          error: "",
          msg: "",
        }
      },
      computed: {
        isEmailValid: function() {
          return this.email && this.email.length > 0;
        },
        isPassword1Valid: function() {
          if (!this.password1 || this.password1 === '') {
            this.password1Error = "비밀번호를 입력해주세요."
            return false
          }
          if (!this.checkPw()) {
            this.password1Error = "8자 이상. 영문/숫자 조합";
            return false
          }
          return true;
        },
        isPassword2Valid: function() {
          return this.password1 === this.password2;
        },
      },
      methods: {
        checkPw: function() {
          const password = this.password1;
          let regex = /(?=.*\d)(?=.*[A-Za-z]).{8,}/;
          if (regex.test(password)) return true;
          else return false;
        },
        onSubmit: function() {
          if (!this.termOfService || !this.privacyPolicy) {
            this.error = "서비스 이용약관과 개인정보처리방침에 모두 동의하셔야 가입이 가능합니다."
            return;
          }
          let self = this;
          this.isSignupProgressing = true;
          firebase
            .auth()
            .createUserWithEmailAndPassword(this.email, this.password1)
            .then(function(credential) {
              self.user = credential.user;
              credential.user.sendEmailVerification()
                .then(function() {
                  self.isSucceeded = true;
                  self.error = "";
                })
                .catch(function() {
                  self.isSucceeded = true;
                  self.error = "인증 메일 전송에 실패하였습니다. 잠시후 다시 시도해주세요.";
                })
            })
            .catch(function(error) {
              self.isSignupProgressing = false;
              let message = "";
              if (error.code === "auth/invalid-email")
                message = "이메일 형태를 확인해주세요.";
              else if (error.code === "auth/email-already-in-use")
                message = "이미 사용 중인 이메일입니다.";
              else
                message = "회원가입에 실패했습니다. 입력하신 내용을 확인해주세요.";
              self.error = message;
            });
        },
        onClickResend: function() {
          let self = this;
          self.user.sendEmailVerification()
            .then(function() {
              self.error = "";
              self.msg = "전송하였습니다.";
            })
            .catch(function(error) {
              self.msg = "";
              self.error = "인증 메일 전송에 실패하였습니다. 잠시후 다시 시도해주세요.";
            })
        },
      },
      created: function() {
        let config = {
          apiKey: "AIzaSyCXT2nKHukUxynxZ_u_lAn-TLA086SkyxM",
          // apiKey: "AIzaSyAthUD392Fd9X4wRsszbp686eJs1perU-o",
        };
        firebase.initializeApp(config);
      },
      mounted: function() {
        document.getElementById("loading").style.display = "none";
        document.getElementById("q-app").style.display = "block";
      },
      // ...etc
    })
  </script>

</body>

</html>
