<footer id="footer">

  <div class="footer-top">
    <div class="container">
    <div class="row">

      <div class="col-lg-3 col-md-6 footer-links">
      <h3>Anseilen</h3>
      <h4>안자일렌 유한책임회사</h4>
      <p>
        대표: 송경 | 사업자번호: 783-86-01786<br>
        주소: 서울특별시 동작구 등용로 79-1 4층
      </p>
      </div>

      <div class="col-lg-3 col-md-6 footer-links">
      <h4>서비스 정보</h4>
      <ul>
        <li><i class="icofont-simple-right"></i> <a href="https://storage.googleapis.com/poolda-homepage-assets/pdf/term_of_service.pdf" onclick="gtag('event', '버튼클릭', {'event_category':'서비스 이용약관','event_label':'화면하단 약관 버튼'})" target="_blank">서비스 이용약관</a></li>
        <li><i class="icofont-simple-right"></i> <a href="https://storage.googleapis.com/poolda-homepage-assets/pdf/privacy_policy.pdf" onclick="gtag('event', '버튼클릭', {'event_category':'개인정보 처리방침','event_label':'화면하단 개인정보 버튼'})" target="_blank">개인정보처리방침</a></li>
        <li><i class="icofont-simple-right"></i> <a href="/notices">공지사항</a></li>
      </ul>
      </div>

    </div>
    </div>
  </div>

  <div class="container py-3">
    <div class="copyright">
    &copy; Copyright <strong><span>Anseilen</span></strong>. 2020 All Rights Reserved
    </div>
    <div class="credits">
    <!-- All the links in the footer should remain intact. -->
    <!-- You can delete the links only if you purchased the pro version. -->
    <!-- Licensing information: https://bootstrapmade.com/license/ -->
    <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/free-bootstrap-app-landing-page-template/ -->
    Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div>
  </div>
</footer>
