<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
  <div class="container d-flex">

    <div class="logo mr-auto">
      <h1 class="text-light"><a href="/">Sympool (심풀)</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
    </div>

    <nav class="nav-menu d-none d-lg-block">
      {% if page.name == "index.html" or "signin.html" or "pricing.html"%}
      <ul>
        <li class="active"><a href="/#header">홈</a></li>
        <li><a href="/#features">기능</a></li>
        <li><a href="/#faq">자주 묻는 질문</a></li>
        <li><a href="/#contact">고객센터</a></li>
        <li><a href="/pricing">요금제</a></li>

        <li class="get-started"><a href="/">다운받기</a></li>
        <li id="nav-login__btn" class="get-started" style="display: none;"><a href="/signin">로그인</a></li>
        <li id="nav-mypage__btn" class="get-started" style="display: none"><a href="/charge">마이페이지</a></li> 
      </ul>
      {% else %}
      <ul>
        <li class="get-started"><a href="/">다운받기</a></li>
      </ul>
      {% endif %}
    </nav><!-- .nav-menu -->

  </div>
</header><!-- End Header -->
