<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  
<!--   <script async src="https://www.googletagmanager.com/gtag/js?id=UA-162416006-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-162416006-1');
  </script> -->
  
  <meta name="naver-site-verification" content="7552f9179ac44226ab035c3368999815dd536503" />
  <meta name="naver-site-verification" content="31d986a1efa0fe2d4d0fcdbc20fee758b4096399" />

  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  
  <meta property="og:type" content="website"> 
  <meta property="og:title" content="심풀 Sympool - 축어록 작성을 심풀하게">
  <meta property="og:description" content="축어록 프로그램">
  <meta property="og:image" content="https://storage.googleapis.com/poolda-online-assets/image/typewriter.svg">
  <meta property="og:url" content="https://sympool.co.kr">

  <meta name="description" content="축어록 프로그램">
  <meta name="keywords" content="축어록, 상담 축어록, 축어록 양식, 축어록 프로그램, 음성 텍스트 변환, 다글로, 토크노트, 축어록 자동화, 심리상담, 상담심리, 임상심리, 청소년상담사, 한국상담학회, 한국상담심리학회">

  <title>{{ page.title }}</title>

  <!-- Favicons -->

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="/assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="/assets/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/assets/css/style.css" rel="stylesheet">
  <link href="/assets/css/styles.css" rel="stylesheet">
</head>

<body>
  <!-- Vendor JS Files -->

  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/7.12.1/polyfill.min.js" integrity="sha512-uzOpZ74myvXTYZ+mXUsPhDF+/iL/n32GDxdryI2SJronkEyKC8FBFRLiBQ7l7U/PTYebDbgTtbqTa6/vGtU23A==" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/promise-polyfill@8/dist/polyfill.min.js"></script>
  <script src="/assets/vendor/jquery/jquery.min.js"></script>
  <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="/assets/vendor/venobox/venobox.min.js"></script>
  <script src="/assets/vendor/aos/aos.js"></script>

  <!-- Auth -->
  <script src="https://www.gstatic.com/firebasejs/6.2.0/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/6.2.0/firebase-auth.js"></script>
  <script src="/__/firebase/init.js"></script>
  <!-- Charge -->
  <script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.1.5.js"></script>

  {% include navigation.html %}
  <script src="/assets/js/dist/init.min.js"></script>

  {{ content }}

  {% include footer.html %}

    <!-- Template Main JS File -->
    <script src="/assets/js/dist/main.min.js"></script>
</body>

</html>
