---
layout: default
title: 풀다 Poolda - 마이페이지
---
<main id="mypage" class="d-flex align-items-center">
  <div class="container">
    <div class="mypage_area">
      <div class="account-info row text-center">
        <div class="account-info__item col d-flex align-items-center justify-content-center">
          <div>
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-person-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg" style="vertical-align: text-bottom; margin-right:4px;">
              <path fill-rule="evenodd" d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"></path>
            </svg>
            <span id="account-info__email"></span>
          </div>
        </div>
        <div class="account-info__item col d-flex align-items-center justify-content-center">
          <div>잔여 코인: <strong><span id="account-info__coin">-1</span>©</strong></div>
        </div>
        <div class="account-info__item col">
          <button id="nav-logout__btn" type="button" class="btn btn-secondary">로그아웃</button>
        </div>
      </div>
      {{ content }}
    </div>
  </div>
</main>

<script src="/assets/js/mypage.js"></script>